.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
    justify-content: flex-start;
}


.item {
    width: 100%;
    box-sizing: border-box;
}

.item:nth-child(4n) {
    margin-right: 0;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.item-link {
    width: calc((100% - 60px) / 4);
    box-sizing: border-box;
    display: block;
    text-decoration: none;
    color: inherit;
    margin-bottom: 20px;
}

.item-name {
    font-size: 17px;
    margin-top: 5px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pages {
    margin-bottom: 30px;
    border-bottom: none;
    padding-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    position: relative;
    padding-left: 140px;
    margin-left: 0;
    margin-right: 0;
}

.pages a {
    text-decoration: none;
    color: #656060;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    display: inline-block;
    position: relative;
}

.pages a.active {
    color: #ff4d4d;
    border-bottom: none;
}

.pages::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 200vw;
    border-bottom: 2px solid #7a7878;
    z-index: -1;
}

.image-box {
    position: relative;
    width: 300px;
    height: 300px;
}

.sold-badge-red {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff4d4d;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding: 6px 16px;
    z-index: 10;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

